{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": true,
  "printWidth": 100,
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all"
}
